<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Polling Units</title>
</head>
<body>
    <table class="polling_unit">
        <tr>
            <th>result_id</th>
            <th>polling_unit_uniqueid</th>
            <th>Party_abbreviation</th>
            <th>Part_score</th>
            <th>Enter_by_username</th>
            <th>date_entered</th>
            <th>user_ip_address</th>
        </tr>
        <tr>
            <td>111</td>
            <td>8</td>
            <td>PDP</td>
            <td>802</td>
            <td>Bose</td>
            <td>2011-04-26 15:44:03</td>
            <td>192.168.1.101</td>
        </tr>
        <tr>
            <td>112</td>
            <td>8</td>
            <td>DPP</td>
            <td>719</td>
            <td>Bose</td>
            <td>2011-04-26 15:44:03</td>
            <td>192.168.1.101</td>
        </tr>
        <tr>
            <td>113</td>
            <td>8</td>
            <td>ACN</td>
            <td>416</td>
            <td>Bose</td>
            <td>2011-04-26 15:44:03</td>
            <td>192.168.1.101</td>
        </tr>
        <tr>
            <td>114</td>
            <td>8</td>
            <td>PPA</td>
            <td>939</td>
            <td>Bose</td>
            <td>2011-04-26 15:44:03</td>
            <td>192.168.1.101</td>
        </tr>
        <tr>
            <td>115</td>
            <td>8</td>
            <td>CDC</td>
            <td>394</td>
            <td>Bose</td>
            <td>2011-04-26 15:44:03</td>
            <td>192.168.1.101</td>
        </tr>
        <tr>
            <td>116</td>
            <td>8</td>
            <td>JP</td>
            <td>99</td>
            <td>Bose</td>
            <td>2011-04-26 15:44:03</td>
            <td>192.168.1.101</td>
        </tr>
    </table>

    <div class="btn">
        <div class="btn-wrapper">
            <div class="btn-polling">
                <button><a href="polling_unit">view polling</a></button>
            </div>
        
            <div class="polling-unit-storage">
                <button><a href="result">Polling unit storage</a></button>
            </div>

        </div>
    </div>

    <style>
        .btn{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5rem;
        }
        .btn-wrapper{
            display: flex;
            flex-direction: row;
            gap: 3rem;
        }
    </style>


    
</body>
</html>