<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <style>
      .polling-unit-wrapper {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
      }
      h1{
        font-size: 1.5re;
      }
      h4{
        margin-left: -1rem;
        border: 2px solid black;
      }
      li{
        border:2px solid black
      }
      .votes{
        display: grid;
        place-items: center;
      }
    </style>
    <div class="votes">
        <h2>Summed Total Results of all polling units</h2>
        <div class="polling-unit">
    
          <div class="polling-unit-wrapper">
      
            <ol>
              <h4>PDP</h4>
              <li class="PDP">802</li>
              <li class="PDP">1032</li>
              <li class="PDP">298</li>
              <li class="PDP">621</li>
              <li class="PDP">1019</li>
              <li class="PDP">804</li>
              <h4 class="PDP-text"></h4>
            </ol>
    
            <ol>
              <h4>DPP</h4>
              <li class="DPP">1254</li>
              <li class="DPP">321</li>
              <li class="DPP">833</li>
              <li class="DPP">125</li>
              <li class="DPP">219</li>
              <li class="DPP">187</li>
              <h4 class="DPP-text"></h4>
            </ol>
    
            <ol>
              <H4>ACN</H4>
              <li class="ACN">124</li>
              <li class="ACN">254</li>
              <li class="ACN">94</li>
              <li class="ACN">201</li>
              <li class="ACN">1121</li>
              <li class="ACN">213</li>
              <h4 class="ACN-text"></h4>
            </ol>
            <ol>
              <h4>PPA</h4>
              <li class="PPA">122</li>
              <li class="PPA">154</li>
              <li class="PPA">324</li>
              <li class="PPA">721</li>
              <li class="PPA">289</li>
              <li class="PPA">232</li>
              <h4 class="PPA-text"></h4>
            </ol>
    
            <ol>
              <h4>CDC</h4>
              <li class="CDC">142</li>
              <li class="CDC">234</li>
              <li class="CDC">214</li>
              <li class="CDC">561</li>
              <li class="CDC">839</li>
              <li class="CDC">132</li>
              <h4 class="CDC-text"></h4>
            </ol>
    
            <ol>
              <h4>JP</h4>
              <li class="JP">122</li>
              <li class="jp">154</li>
              <li class="jp">324</li>
              <li class="jp">721</li>
              <li class="jp">289</li>
              <li class="jp">232</li>
              <h4 class="JP-text"></h4>
            </ol>
    
            <ol>
              <h4>ANPP</h4>
              <li class="anpp">232</li>
              <li class="anpp">1123</li>
              <li class="anpp">234</li>
              <li class="anpp">2243</li>
              <li class="anpp">1344</li>
              <li class="anpp">232</li>
              <h4 class="ANPP-text"></h4>
            </ol>
    
            <ol>
              <h4>LABO</h4>
              <li class="labo">123</li>
              <li class="labo">433</li>
              <li class="labo">234</li>
              <li class="labo">743</li>
              <li class="labo">1023</li>
              <li class="labo">234</li>
              <h4 class="LABO-text"></h4>
            </ol>
    
            <ol>
              <h4>CPP</h4>
              <li class="cpp">343</li>
              <li class="cpp">242</li>
              <li class="cpp">432</li>
              <li class="cpp">112</li>
              <li class="cpp">2344</li>
              <li class="cpp">245</li>
              <h4 class="CPP-text"></h4>
            </ol>
          </div>
    
        </div>

    </div>
  

    <script>
      const ACN = [].slice.call(document.querySelectorAll(".ACN"));
      const sum = ACN.reduce(function (sum, el) {
        return sum + parseFloat(el.innerText);
      }, 0);
      const PDP = [].slice.call(document.querySelectorAll(".PDP"));
      const sumForPdp = PDP.reduce(function (sumForPdp, el) {
        return sumForPdp + parseFloat(el.innerText);
      }, 0);
      const DPP = [].slice.call(document.querySelectorAll(".DPP"));
      const sumForDpp = DPP.reduce(function (sumForDpp, el) {
        return sumForDpp + parseFloat(el.innerText);
      }, 0);
      const PPA = [].slice.call(document.querySelectorAll(".PPA"));
      const sumForPpa = PPA.reduce(function (sumForPpa, el) {
        return sumForPpa + parseFloat(el.innerText);
      }, 0);
      const CDC = [].slice.call(document.querySelectorAll(".CDC"));
      const sumForCdc = CDC.reduce(function (sumForCdc, el) {
        return sumForCdc + parseFloat(el.innerText);
      }, 0);
      const JP = [].slice.call(document.querySelectorAll(".JP"));
      const sumForJp = JP.reduce(function (sumForJp, el) {
        return sumForJp + parseFloat(el.innerText);
      }, 0);
      const ANPP = [].slice.call(document.querySelectorAll(".anpp"));
      const sumForAnpp = ANPP.reduce(function (sumForAnpp, el) {
        return sumForAnpp + parseFloat(el.innerText);
      }, 0);
      const LABO = [].slice.call(document.querySelectorAll(".labo"));
      const sumForLabo = LABO.reduce(function (sumForLabo, el) {
        return sumForLabo + parseFloat(el.innerText);
      }, 0);
      const CPP = [].slice.call(document.querySelectorAll(".cpp"));
      const sumForCpp = CPP.reduce(function (sumForCpp, el) {
        return sumForCpp + parseFloat(el.innerText);
      }, 0);

      console.log(sum);
      ACN_text = document.querySelector('.ACN-text')
      PDP_text = document.querySelector('.PDP-text')
      DPP_text = document.querySelector('.DPP-text')
      PPA_text = document.querySelector('.PPA-text')
      CDC_text = document.querySelector('.CDC-text')
      JP_text = document.querySelector('.JP-text')
      ANPP_text = document.querySelector('.ANPP-text')
      LABO_text = document.querySelector('.LABO-text')
      CPP_text = document.querySelector('.CPP-text')

      console.log(ACN_text)
      ACN_text.innerHTML = `Total: ${sum}`
      PDP_text.innerHTML = `Total : ${sumForPdp}`
      DPP_text.innerHTML = `Total :  ${sumForDpp}`
      PPA_text.innerHTML =  `Total : ${sumForPpa}`
      CDC_text.innerHTML =  `Total : ${sumForCdc}`
      JP_text.innerHTML = `Total : ${sumForJp}`
      ANPP_text.innerHTML = `Total : ${sumForAnpp}`
      LABO_text.innerHTML = `Total : ${sumForLabo}`
      CPP_text.innerHTML =  `Total : ${sumForCpp}`
    </script>
  </body>
</html>
